.my-style {
background-color: #B04759;
color: #B2A4FF;

}

#my-id {
background-color: #2F0F5D;//comments
color: #27E1C1;/*comments*/


}

p {
    background-color: #27E1C1;
    color: #B04759;
}
h1 {
    color: #a18508;
}